@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist!</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.StylistName)
    @Html.TextBoxFor(model => model.StylistName)
    @Html.LabelFor(model => model.StylistSpecialty)
    @Html.TextBoxFor(model => model.StylistSpecialty)
    <input type="submit" value="Add new Stylist" class="btn btn-success" />
}
<p>@Html.ActionLink("Show all Stylists", "Index", "Stylists", null,  new { @class = "btn btn-warning btn-large" })</p>