@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>Stylist Details:</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)</h3>
<h3>@Html.DisplayNameFor(model => model.StylistSpecialty): @Html.DisplayFor(model => model.StylistSpecialty)</h3>

<ul>
@if (@Model.Clients.Count == 0)
{
  <p>No Clients Found</p>
}

@foreach (Client client in @Model.Clients)
{
  <li>Clients: @client.ClientName</li>
}
</ul>

<p>@Html.ActionLink("Add new client", "Create", "Clients", null,  new { @class = "btn btn-success btn-large" })</p>

<p>@Html.ActionLink("Show all clients", "Index", "Clients", null,  new { @class = "btn btn-info btn-large" })</p>

<p>@Html.ActionLink("Back to stylists", "Index", "Stylists", null,  new { @class = "btn btn-warning btn-large" })</p>

<p>@Html.ActionLink("Edit Stylist", "Edit", "Stylists", new { id = Model.StylistId },  new { @class = "btn btn-warning btn-large" })</p>

<p>@Html.ActionLink("Delete Stylist", "Delete", "Stylists", new { id = Model.StylistId },  new { @class = "btn btn-danger btn-large" })</p>