@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Lets Edit some Client Entries!</h2>

<h4>Edit this Client: @Html.DisplayFor(model => model.ClientName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)

    @Html.LabelFor(model => model.ClientName)
    @Html.EditorFor(model => model.ClientName)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input type="submit" value="Save" class="btn btn-dark" />
}

<p>@Html.ActionLink("Back to Clients", "Index")</p>